@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

  * {
box-sizing: border-box;
margin: 0px;
padding: 0px;

}

html {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #404040;
  width: 1440px;
  height: 920px;
  background: white;
}

li, button {
  font-weight: 600;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
}


.menu {
  list-style: none;
}

.menu-header {
  display: inline-block;
  padding: 25px;
}


.menu-header:first-of-type {
  color: #9a93ff;
}

button {
border: 0px;
padding: 16px 32px;
background-color: #ADA7FF;
border-radius: 50px;
color: white;
}

.title {
  
  margin-top: 220px;
  margin-left: 135px;
  font-size: 70px;
  font-weight: 700;
}

.title b {
  color: #9a93ff;
}

.description {
  margin: 24px 135px;
  max-width: 735px;
    
    
}

.button_2 {
  margin-left: 135px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  size: 18px;
  font-weight: 600;
  padding: 16px 32px;
}

.button_2::after {
  padding-left: 17px;
  content: url(../assets/images/dog-print.png);
  
}

.video {
  display: flex;
  padding-top: 60px;
}

.watch_video {
  display: flex;
  align-items: center;
  
}

.watch_video p {
  width: 100%;
  size: 18px;
  margin-left: 10px;
  font-weight: 600;
  color: #ada7ff;
}

.watch_video img {
  margin-left: 60px;
}

.achievements {
  display: flex;
  list-style: none;

  padding-top: 60px;
  margin-left: 135px;
}

.achievements li:not(:last-child) {
  margin-right: 70px;
}

.pet {
  width:566px;
  height: 675px;
  margin-left: 740px;
  translate: 200px -640px;
}


.dog_paw {
  height: 60px;
  width: 60px;
  translate: -160px 70px;
}

.cat_paw {
  height: 60px;
  width: 60px;
  translate: 300px 280px;
}

.dog_background {
  height: 345px;
  width: 360px;
}

.cat_background {
  height: 345px;
  width: 360px;
  translate: -160px -70px;
}

.pet_img {
  position: relative;
}

.dog_img {
  height: 345px;
  width: 240px;
  position: absolute;
  left: 20%;
  top: 5%;
}

.cat_img {
  height: 450px;
  width: 430px;
  position: absolute;
 left: 2%;
  top: -10%;
  translate: -160px -70px;
}
