
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

  html {
    font-size: 16px;
    overflow-x: hidden;
   
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}


  body {
    background-color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    color: white;
  }
  


.header{
  height: 140vh;
  position: relative;
  background-image: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%),
  linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%),
  url(../assets/images/hero-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav-wrapper{
  margin-bottom: 196px;
}


.logo{
  padding-left:85px;
  font-weight: 700;
  font-size: 24px;
}

.nav{
  padding: 3.4% 4.4%;
  justify-content: space-between;
}


.nav ul { 
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}



nav li + li{
  margin-left: 50px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight:700;

}
.nav a:hover {
color: #fff;
}

.search {
  font-size: 17px;
  font-weight: 700;
  padding-right: 84px;
  text-decoration: none;
  color:#fff;
}
.search:hover {
  color: #fff;
}






.container-wide {
  width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
display: flex;
}

.space-between{
  justify-content: space-between;
}

.aline-center {
  align-items: center;
}

.hero {
  display: block;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 843px;
  max-width:980px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration:none;
  transition:transform 0.8s cubic-bezier(0.660,0,215,0.295,1.640); 

}
.hero :hover{
  transform: translateY(-5);
}

.hero-category{
  margin-bottom: 32px;
  position: relative;
  padding-left: 104px;
  font-weight:800;
  font-size:18px;
  line-height:1.22px;
  letter-spacing:6px;
  text-transform: uppercase;
  color: #FFC178;
}

.hero-category::before {
  position:absolute;
  left: 0;
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  background-color: #FFC178;

}

.hero-title {
  width: 950px;
  height: 204px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  
  text-transform: capitalize;
  
  color: #FFFFFF;

  flex: none;
 order: 1;
 flex-grow: 0;

}

.hero-scroll {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  left: 700px;
  top: 674px;
  
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #FFFFFF;

}

.hero-scroll::after{
  display: block;
  content:"";
  position:absolute;
  right:0;
  top:0;
  transform:translateY(-50%);
  width: 16px;
  height: 24px;
  color: #fff;
}


.container {
  position: relative;
  max-width: 1430px;
  margin-left: 230px;
  margin-right: 230px;
 
}


.article {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.article:nth-child(1) {
flex-direction: row-reverse;
}

.article-text {
 
  padding-left: 232px;
  max-width: 864px;

}

.article-subtitle {

    margin-bottom: 32px;
    position: relative;
    padding-left: 96px;
    font-weight:303px;
    font-size:18px;
    line-height:1.22px;
    letter-spacing:6px;
    text-transform: uppercase;
    color: #FFC178;
  }
  
  .article-subtitle::before {
    position:absolute;
    left: 0;
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FFC178;
  
  }


.article-title {
margin-bottom: 27px;
max-width: 555px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;

color: #FFFFFF;

flex: none;
order: 1;
flex-grow: 0;
}

.article-text p {

  padding: 27px 0;
  line-height: 1.7rem;
  color: #FFFFFF;

}


.article-read-more {
    color: #FBD784;
  }
  


  .bromo{
    margin-top: 250px;
  
}


.bromo-text {

  max-width: 934px;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
  }


.bromo-text p {

  padding: 27px 0;
  line-height: 1.7rem;
  color: #FFFFFF;
}

.bromo-subtitle {

  display: flex;
  justify-content: center;
align-items: center;
  margin-bottom: 32px;

  font-size:18px;
  line-height:1.22px;
  letter-spacing:6px;
  text-transform: uppercase;
  color: #FFC178;
}

.bromo-subtitle::before {
  position:absolute;
  left: 200px;
  content: "";
  width:72px;
  height: 2px;
  background-color: #FFC178;

}


.bromo-subtitle::after {
  position:absolute;
  left: 434px;
  content: "";
  width:72px;
  height: 2px;
  background-color: #FFC178;

}

.bromo-title {
  margin-bottom: 27px;
  max-width: 705px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  
  color: #FFFFFF;
  
  }
  
  .bromo-read-more {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #FBD784;
  }



.culture {
  margin-top: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.culture-text {
 padding-left: auto;
  max-width: 864px;

}

.culture-subtitle {

    margin-bottom: 32px;
    position: relative;
    padding-left: 96px;
    font-weight:303px;
    font-size:18px;
    line-height:1.22px;
    letter-spacing:6px;
    text-transform: uppercase;
    color: #FFC178;
  }
  
  .culture-subtitle::before {
    position:absolute;
    left: 0;
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FFC178;
  
  }


.culture-title {

width: 555px;
height: 261px;


font-weight: 700;
font-size: 67px;
line-height: 77px;

color: #FFFFFF;

flex: none;
order: 1;
flex-grow: 0;


color: #FFFFFF;

}

.culture-text p {

width: 632px;
height: 96px;

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
/* or 178% */

color: #FFFFFF;


flex: none;
order: 2;
flex-grow: 0;


}


.culture-read-more {
    color: #FBD784;
  }

  footer {
    margin-top: 270px;
    color: white;
    margin-left: 230px;
    margin-right: 230px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  footer a:any-link {
    color: white;
    text-decoration: none;
  }
  
  footer hr {
    width: 100%;
  }
  
  footer #get-started-btn {
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: #ffa343;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  
  footer #get-started-btn:hover {
    cursor: pointer;
  }
  
  footer #rdy {
height: 29px;
padding-left:810px;

font-weight: 400;
font-size: 22px;
line-height: 29px;

color: #FFFFFF;
  }
  
  footer #svc {
    margin-top: 90px;
  }
  
  footer #about {
    margin-top: 90px;
  }
  
  footer #help {
    margin-top: 90px;
  }
  
  footer #logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 406px;
  }
  
  footer #logos > a {
    display: inline-block;
    margin-right: 30px;
  }
  
  footer #copyright {
    color: rgb(97, 97, 97);
    font-size: 16px;
    margin-top: 90px;
  }
  
  footer #legals {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  
  footer #legals a {
    display: inline-block;
  }
  
  footer #vacation {
    align-self: flex-start;
    margin-top: 55px;
  }
  
  footer #vacation h4 {
    margin-top: 0;
    font-size: 50px;
  }
  
  footer #vacation input {
    color: white;
    display: inline-block;
    margin-right: 0;
    margin-top: 70px;
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(97, 97, 97);
    background-color: transparent;
    padding: 20px;
    line-height: 25px;
    outline: 0;
    transition-duration: 0.3s;
  }
  
  footer #vacation input::-webkit-input-placeholder {
    color: rgb(97, 97, 97);
  }
  
  footer #vacation input:focus {
    border-bottom-color: white;
  }
  
  footer #vacation button {
    margin-left: 0;
    display: inline-block;
    padding: 20px 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #ffa343;
  }
  
  footer #vacation button:hover {
    cursor: pointer;
  }
  
  footer #l {
    align-self: center;
    font-size: 60px;
  }
  
  .footer-links-list {
    margin-top: 20px;
  }
  
  .footer-links-list * {
    font-size: 16px;
  }
  
  .footer-links-list h4 {
    color: #fbd784;
    font-weight: bold;
  }
  
  .footer-links-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
  }
  

  .lined-header {
    color: #ffc178;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .lined-header::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #ffc178;
    height: 2px;
    width: 70px;
    margin-right: 10px;
  }
  
  .lined-main, .lined-main-both {
    color: #fbd784;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .lined-main::before, .lined-main-both::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #fbd784;
    height: 2px;
    width: 70px;
    margin-right: 10px;
  }
  .lined-main-both::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #fbd784;
    height: 2px;
    width: 70px;
    margin-left: 10px;
  }


  
 
  



 