.app__main-discovery {
    height: 42vh;
    width: 52vw;
    justify-content: space-between;
}

.main__title-feat {
    font-weight: 300;
    font-size: 8vh;
    font-size: 5vw;
    margin-bottom: -5%;
}

.main__text-feat {
    font-size: 2vh;
    font-size: 1vw;
    font-weight: 290;
    margin-top: -4.8%;
    margin-left: 3%;
}

.main__buttons-featPage {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__button-feat {
    border: none;
    background-color: #5e659d;
    color: #fff;
    height: 50px;
    width: 180px;
    font-size: 24px;
    border-radius: 5px;
    margin-top: 20px;
}

.main__image-feat {
    position: absolute;
    top: 30%;
    right: 8%;
    height: 48vh;
    width: 26vw;
}
