.app__main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  .main__title {
      font-weight: 300;
      font-size: 8vh;
      font-size: 6.8vw;
  }
  
  .main__text {
      font-size: 4vh;
      font-size: 2vw;
      font-weight: 290;
      margin-top: -4.8%;
      margin-left: 3%;
  }
  
  .main__button {
      border: none;
      background-color: #5e659d;
      color: #fff;
      height: 50px;
      width: 180px;
      font-size: 24px;
      border-radius: 5px;
      margin-top: 20px;
  
  }
  
  
  .main__image {
      width: 90vw;
      height: 100vh;
      position: absolute;
      z-index: -2;
      right: -10%;
      bottom: 0;
    }
    
  