/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
  align-items: center;
  
}

body {
  width: 100%;
}

.app {
  max-width: 480px;
  margin: 0 auto;
  align-items: center;
}

.app_hero {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app_header {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height: 100%;
  width: 20%;
}

.header_menu {
  max-height: 80%;
  width: 12%;
}

.header_nav {
  display: none;
}

.hero_main  {
width: 90%;
height: 78vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.main_content {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.main_image {
  max-height: 40vh;
  width: 90%;
}

.content_info {
  width: 100%;
  text-align: left;
}


.info_theme {
  font-size: 3.2vh;
  font-weight: 500;
  line-height: 6vh;
}

.info_theme_crossed {
  font-size: 4.2vh;
  text-decoration: line-through;
  opacity: 0.7;
}

.info_cost {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: start;
  width: 90%;
}

.info_heading {
  font-size: 5vh;
  font-weight: 700;
  line-height: 5vh;
}

.cost_heading {
  font-size: 6vh;
}

.cost_line {
  height: 120%;
  position: absolute;
  top: -14%;
  left: 60%;
  border: 3px solid rgba(255, 255, 255);
}

.button {
  font-size: 3.2vh;
  line-height: 4vw;
  font-weight: 500;
  height: 24%;
  width: 100%;
  border-radius: 82px;
  border: none;
  color: #FF4948;
  background-color: white;
}

.feature {
  margin: 0 auto;
  width: 90vw;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.info {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__descrip {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.descrip__image {
  margin: 0 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #FDD8D8;
  border-radius: 100px;
  height: 50%;
  width: 18%;
}

.descrip__border {
  position: absolute;
  border-radius: 100px;
  border: 5px solid #FDD8D8;
  border-bottom: 8px solid #FF4948;
  height: 140%;
  width: 140%;
}

.descrip__image {
  height: 55%;
  width: 55%;
}

.head {
  font-size: 4.2vh;
  font-weight: 500;
}

.text {
  font-size: 2.2vh;
  line-height: 4vh;
}

.text__red {
  font-weight: 500;
  color: #FF4948;
}

.image {
  align-self: center;
  max-height: 100%;
  width: 30vh;
}

.product {
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product_title {

  width: 100%;
  text-align: center;
}

.heading {
  line-height: 10vh;
}

.title__text {
  line-height: 3.2vh;
}

.product__block-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__item-first {
  display: none;
}

.product__item-third {
  display: none;
}

.product__photo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  width: 80%;
  height: 60%;
}

.product__photo-first {
  background: #FFE6EE;
}

.product__photo-second {
  background: #E6F1FF;
}

.product__photo-third {
  background: #E6FFFB;
}

.photo__block-icon {
  position: absolute;
  border: 6px solid #FFFFFF;
  right: -8%;
  top: -8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 7vh;
  width: 6.8vh;
}

.photo-first__block-icon {
  background: #FFE5EE;
}

.photo-second__block-icon {
  background: #E5F1FF;
}

.photo-third__block-icon {
  background: #E5FFFB;
}

.icon {
  width: 50%;
  height: 50%;
}

.product__image {
  position: absolute;
  top: -16%;
  height: 110%;
  width: 50vw;
}

.product__ear {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ear__block-icons {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.icons__star {
  width: 84%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image_star {
  height: 100%;
  width: 16%;
}

.ear__text {
  font-size: 2.6vh;
}

.ear__info {
  font-weight: 500;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.ear__text {
  font-size: 2.2vh;
}


.ear__cost {
  font-size: 2.6vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 74vh;
}

.box__image {
  width: 40vh;
  height: 60vh;
}

.box__info {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.box__heading {
  font-weight: 700;
}

.info_box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 30vh;
}

.params__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.params__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item__photo {
  margin-right: 4%;
  height: 52%;
  width: 6%;
}

.item__text {
  font-size: 2.6vh;
  color: rgba(0, 0 , 0, 0.7);
}

.main-cta {
  width: 100vw;
  height: 44vh;
  background: #FFF4F4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cta__heading {
  font-weight: 700;
  line-height: 8vh;
  font-size: 10vw;
}

.cta__text {
  font-size: 3.8vw;
}

.cta__input {
  height: 46%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input__text {
  border: none;
  width: 94%;
  height: 38%;
  border-radius: 20px;
  font-size: 4vw;
  color: rgba(0, 0 , 0, 0.5);
  padding-left: 5%;
}

.input__button {
  border: none;
  width: 100%;
  height: 38%;
  border-radius: 20px;
  font-size: 4.8vw;
  font-weight: 500;
  color: white;
  text-align: center;
  background: #FF4948;
}


.footer {
  width: 100vw;
  height: 30vh;
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  margin-top: 11vh;
}

.footer__info {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info__block-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 36%;
}

.info__links {
  display: none;
}

.info__icon {
  height: 50%;
}

.block-icons__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  height: 5vh;
  width:  5vh;
  border-radius: 100px;
} 

@media screen and (min-width: 768px) {
  .app {
    max-width: 1280px;
    align-items: center;
  }

  .header_nav {
    display: flex;
    width: 20%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

   .item_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    height: 7vh;
    width: 18%;
  }

  .item_line {
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 7vh;
  }

  .hero_main {
    width: 84%;
    height: 80vh;
    flex-direction: row;
    align-items: center;
  }

  .item_image {
    height: 50%;
    width: 50%;
  }

  .main_content {
    height: 90%;
    width: 40%;
  }

  .main_image {
    max-height: 100vh;
    width: 70vh;
  }

  .info_cost {
    width: 70%;
    align-items: center;
  }

  .info_cost_line {
    height: 60%;
    top: 10%;
  }

  .info_heading {
    font-size: 7vw;
    font-weight: 700;
    line-height: 7vw;
  }

  .info_theme {
    font-size: 4vh;
    font-weight: 500;
    line-height: 6vh;
  }

  .cost_heading {
    font-size: 6vh;
  }

  .button {
    height: 12%;
    width: 40%;
  }

  .feature {
    width: 94%;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .info {
    width: 35%;
    height: 100%;
  }  

  .head {
    align-self: start;
    font-weight: 700;
    font-size: 5vh;
  }

  .info__descrip {
    width: 80%;
  }

  .descrip__image {
    width: 22%;
    height: 32%;
  }

  .heading {
    font-size: 4.2vh;
  }

  .image {
    margin: 0 auto;
    align-self: center;
    max-height: 86%;
    width: 26%;
  }

  .product {
    width: 82vw;
  }

  .product__item-first {
    display: flex;
  }
  
  .product__item-third {
    display: flex;
  }  

  .product__image {
    width: 80%;
  }

  .product_title {
    width: 48%;
  }

  .heading {
    line-height: 7vh;
  }

.box {
    width: 90%;
    flex-direction: row;
  }

  .box__info {
    width: 70%;
  }

  .box__image {
    width: 46vw;
    height: 60vh;
  }

  .main-cta {
    margin: 0 auto;
    width: 50vw;
    height: 36vh;
  }

  .cta__heading {
    line-height: 8vh;
    font-size: 3.4vw;
  }
  
  .cta__text {
    font-size: 1.2vw;
  }
  
  .cta__input {
    position: relative;
    height: 20%;
    width: 70%;
    flex-direction: row;
  }
  
  .input__text {
    height: 100%;
    font-size: 1.2vw;
  }
  
  .input__button {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    font-size: 1.4vw;
  }

  .info__links {
    display: inline;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 3vh;
  }
  
  .links:not(:last-child) {
    margin-right: 20%;
  }

  .info__block-icons {
    width: 20%;
  }

  .info__icon {
    width: 8%;
  }

}