.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    align-items: center;
    gap: 4vw;
  }
  
  
  .footer-nav__item {
    font-size: 1vw;
    line-height: 1vw;
  }
