.app__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 40%;
    margin-top: 4%;   
  }
  
  .header__logo {
    position: absolute;
    height: 14vh;
    z-index: -1;
    left: -8%;
  }
  
  .header__link {
    font-size: 1.8vw;
    line-height: 2vw;
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
